.tabela{
    padding: 10px;
}

.margintop{
    margin-top: 10px !important;
}

.list{

    margin-left: 5px !important;
    
}


label{
    color: rgb(71, 71, 71) !important;
}

.btnPesq{
    float: left;
    margin-left: 1rem !important;
}
