.btn-Frame {
    cursor: pointer;
    text-align: center;
    border-radius: 4px;
    padding: 0.2em 1em;
    margin-right: 0.1em;
    margin-left: 3px;
    margin-top: 8px;
    height: 31px;
  }
  
  .btn-Frame:disabled {
    opacity: 0.35;
    cursor: no-drop;
  }

  .btn-Frame-blue {
    border: 1px solid #367fa9;
    background: #3c8dbc;
    color: #ffffff;
  }